<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnLineLibrarySystem</display-name>
  <welcome-file-list>
    <welcome-file>homepage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginHandler</display-name>
    <servlet-name>LoginHandler</servlet-name>
    <servlet-class>action.LoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginHandler</servlet-name>
    <url-pattern>/LoginHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdministratorLogin</display-name>
    <servlet-name>AdministratorLogin</servlet-name>
    <servlet-class>controller.administrator.AdministratorLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministratorLogin</servlet-name>
    <url-pattern>/AdministratorLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianLogin</display-name>
    <servlet-name>LibrarianLogin</servlet-name>
    <servlet-class>controller.librarian.LibrarianLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianLogin</servlet-name>
    <url-pattern>/LibrarianLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReaderLogin</display-name>
    <servlet-name>ReaderLogin</servlet-name>
    <servlet-class>controller.reader.ReaderLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderLogin</servlet-name>
    <url-pattern>/ReaderLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>controller.librarian.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/librarian/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianModifyReader</display-name>
    <servlet-name>LibrarianModifyReader</servlet-name>
    <servlet-class>controller.librarian.LibrarianModifyReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianModifyReader</servlet-name>
    <url-pattern>/librarian/LibrarianModifyReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchReaderBeforeEdit</display-name>
    <servlet-name>SearchReaderBeforeEdit</servlet-name>
    <servlet-class>controller.librarian.SearchReaderBeforeEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchReaderBeforeEdit</servlet-name>
    <url-pattern>/librarian/SearchReaderBeforeEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianAddReader</display-name>
    <servlet-name>LibrarianAddReader</servlet-name>
    <servlet-class>controller.librarian.LibrarianAddReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianAddReader</servlet-name>
    <url-pattern>/librarian/LibrarianAddReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookForReader</display-name>
    <servlet-name>SearchBookForReader</servlet-name>
    <servlet-class>controller.reader.SearchBookForReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookForReader</servlet-name>
    <url-pattern>/SearchBookForReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ReaderModifyInformation</display-name>
    <servlet-name>ReaderModifyInformation</servlet-name>
    <servlet-class>controller.reader.ReaderModifyInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderModifyInformation</servlet-name>
    <url-pattern>/ReaderModifyInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LibrarianDeleteReader</display-name>
    <servlet-name>LibrarianDeleteReader</servlet-name>
    <servlet-class>controller.librarian.LibrarianDeleteReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianDeleteReader</servlet-name>
    <url-pattern>/librarian/LibrarianDeleteReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianSearchReader</display-name>
    <servlet-name>LibrarianSearchReader</servlet-name>
    <servlet-class>controller.librarian.LibrarianSearchReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianSearchReader</servlet-name>
    <url-pattern>/librarian/LibrarianSearchReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowReaderInfo</display-name>
    <servlet-name>ShowReaderInfo</servlet-name>
    <servlet-class>controller.librarian.ShowReaderInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowReaderInfo</servlet-name>
    <url-pattern>/librarian/ShowReaderInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLibrarian</display-name>
    <servlet-name>AddLibrarian</servlet-name>
    <servlet-class>controller.administrator.AddLibrarian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLibrarian</servlet-name>
    <url-pattern>/AddLibrarian</url-pattern>
  </servlet-mapping>
</web-app>