<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>OnlineLibrarySystem</display-name>
	<welcome-file-list>
		<welcome-file>UserLogin.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ReaderLogin</servlet-name>
		<servlet-class>action.ReaderLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginHandler</servlet-name>
		<servlet-class>action.LoginHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LibrarianLogin</servlet-name>
		<servlet-class>action.LibrarianLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdministratorLogin</servlet-name>
		<servlet-class>action.AdministratorLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
  	</description>
		<display-name>BookList</display-name>
		<servlet-name>BookList</servlet-name>
		<servlet-class>controller.BookList</servlet-class>
	</servlet>
	<servlet>
		<description>
  	</description>
		<display-name>SearchBook</display-name>
		<servlet-name>SearchBook</servlet-name>
		<servlet-class>controller.SearchBook</servlet-class>
	</servlet>
	<servlet>
		<description>
  	</description>
		<display-name>BookInformation</display-name>
		<servlet-name>BookInformation</servlet-name>
		<servlet-class>controller.BookInformation</servlet-class>
	</servlet>
	<servlet>
		<description>
  	</description>
		<display-name>AddToCart</display-name>
		<servlet-name>AddToCart</servlet-name>
		<servlet-class>controller.AddToCart</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>ReaderLogin</servlet-name>
		<url-pattern>/action/ReaderLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginHandler</servlet-name>
		<url-pattern>/action/LoginHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LibrarianLogin</servlet-name>
		<url-pattern>/action/LibrarianLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdministratorLogin</servlet-name>
		<url-pattern>/action/AdministratorLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookList</servlet-name>
		<url-pattern>/controller/BookList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchBook</servlet-name>
		<url-pattern>/controller/SearchBook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookInformation</servlet-name>
		<url-pattern>/controller/BookInformation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddToCart</servlet-name>
		<url-pattern>/controller/AddToCart</url-pattern>
	</servlet-mapping>
</web-app>