<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnLineLibrarySystem</display-name>
  <welcome-file-list>
    <welcome-file>homepage.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>simpleTag</taglib-uri>
      <taglib-location>/WEB-INF/tld/stateTag.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>BookLocationTag</taglib-uri>
      <taglib-location>/WEB-INF/lib/bookLocationTag.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>LoginHandler</display-name>
    <servlet-name>LoginHandler</servlet-name>
    <servlet-class>action.LoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginHandler</servlet-name>
    <url-pattern>/LoginHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdministratorLogin</display-name>
    <servlet-name>AdministratorLogin</servlet-name>
    <servlet-class>controller.administrator.AdministratorLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministratorLogin</servlet-name>
    <url-pattern>/AdministratorLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianLogin</display-name>
    <servlet-name>LibrarianLogin</servlet-name>
    <servlet-class>controller.librarian.LibrarianLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianLogin</servlet-name>
    <url-pattern>/LibrarianLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReaderLogin</display-name>
    <servlet-name>ReaderLogin</servlet-name>
    <servlet-class>controller.reader.ReaderLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderLogin</servlet-name>
    <url-pattern>/ReaderLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>controller.librarian.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/librarian/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianModifyReader</display-name>
    <servlet-name>LibrarianModifyReader</servlet-name>
    <servlet-class>controller.librarian.LibrarianModifyReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianModifyReader</servlet-name>
    <url-pattern>/librarian/LibrarianModifyReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchReaderBeforeEdit</display-name>
    <servlet-name>SearchReaderBeforeEdit</servlet-name>
    <servlet-class>controller.librarian.SearchReaderBeforeEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchReaderBeforeEdit</servlet-name>
    <url-pattern>/librarian/SearchReaderBeforeEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianAddReader</display-name>
    <servlet-name>LibrarianAddReader</servlet-name>
    <servlet-class>controller.librarian.LibrarianAddReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianAddReader</servlet-name>
    <url-pattern>/librarian/LibrarianAddReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookForReader</display-name>
    <servlet-name>SearchBookForReader</servlet-name>
    <servlet-class>controller.reader.SearchBookForReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookForReader</servlet-name>
    <url-pattern>/SearchBookForReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ReaderModifyInformation</display-name>
    <servlet-name>ReaderModifyInformation</servlet-name>
    <servlet-class>controller.reader.ReaderModifyInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderModifyInformation</servlet-name>
    <url-pattern>/ReaderModifyInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LibrarianDeleteReader</display-name>
    <servlet-name>LibrarianDeleteReader</servlet-name>
    <servlet-class>controller.librarian.LibrarianDeleteReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianDeleteReader</servlet-name>
    <url-pattern>/librarian/LibrarianDeleteReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianSearchReader</display-name>
    <servlet-name>LibrarianSearchReader</servlet-name>
    <servlet-class>controller.librarian.LibrarianSearchReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianSearchReader</servlet-name>
    <url-pattern>/librarian/LibrarianSearchReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowReaderInfo</display-name>
    <servlet-name>ShowReaderInfo</servlet-name>
    <servlet-class>controller.librarian.ShowReaderInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowReaderInfo</servlet-name>
    <url-pattern>/librarian/ShowReaderInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianLendBook</display-name>
    <servlet-name>LibrarianLendBook</servlet-name>
    <servlet-class>controller.librarian.LibrarianLendBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianLendBook</servlet-name>
    <url-pattern>/librarian/LibrarianLendBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLibrarian</display-name>
    <servlet-name>AddLibrarian</servlet-name>
    <servlet-class>controller.administrator.AddLibrarian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLibrarian</servlet-name>
    <url-pattern>/AddLibrarian</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateInfo</display-name>
    <servlet-name>AdminUpdateInfo</servlet-name>
    <servlet-class>controller.administrator.AdminUpdateInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateInfo</servlet-name>
    <url-pattern>/AdminUpdateInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCart</display-name>
    <servlet-name>ShowCart</servlet-name>
    <servlet-class>controller.librarian.ShowCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCart</servlet-name>
    <url-pattern>/librarian/ShowCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateISBN</display-name>
    <servlet-name>ValidateISBN</servlet-name>
    <servlet-class>controller.librarian.ValidateISBN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateISBN</servlet-name>
    <url-pattern>/librarian/ValidateISBN</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianAddBook</display-name>
    <servlet-name>LibrarianAddBook</servlet-name>
    <servlet-class>controller.librarian.LibrarianAddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianAddBook</servlet-name>
    <url-pattern>/librarian/LibrarianAddBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookById</display-name>
    <servlet-name>SearchBookById</servlet-name>
    <servlet-class>controller.librarian.SearchBookById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookById</servlet-name>
    <url-pattern>/librarian/SearchBookById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianDeleteBook</display-name>
    <servlet-name>LibrarianDeleteBook</servlet-name>
    <servlet-class>controller.librarian.LibrarianDeleteBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianDeleteBook</servlet-name>
    <url-pattern>/librarian/LibrarianDeleteBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SearchLibrarian</display-name>
    <servlet-name>SearchLibrarian</servlet-name>
    <servlet-class>controller.administrator.SearchLibrarian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchLibrarian</servlet-name>
    <url-pattern>/SearchLibrarian</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteLibrarian</display-name>
    <servlet-name>DeleteLibrarian</servlet-name>
    <servlet-class>controller.administrator.DeleteLibrarian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLibrarian</servlet-name>
    <url-pattern>/DeleteLibrarian</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminModify</display-name>
    <servlet-name>AdminModify</servlet-name>
    <servlet-class>controller.administrator.AdminModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminModify</servlet-name>
    <url-pattern>/AdminModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminModifyBefore</display-name>
    <servlet-name>AdminModifyBefore</servlet-name>
    <servlet-class>controller.administrator.AdminModifyBefore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminModifyBefore</servlet-name>
    <url-pattern>/AdminModifyBefore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminViewLibrarian</display-name>
    <servlet-name>AdminViewLibrarian</servlet-name>
    <servlet-class>controller.administrator.AdminViewLibrarian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminViewLibrarian</servlet-name>
    <url-pattern>/AdminViewLibrarian</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianSearchBook</display-name>
    <servlet-name>LibrarianSearchBook</servlet-name>
    <servlet-class>controller.librarian.LibrarianSearchBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianSearchBook</servlet-name>
    <url-pattern>/librarian/LibrarianSearchBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianReturnBook</display-name>
    <servlet-name>LibrarianReturnBook</servlet-name>
    <servlet-class>controller.librarian.LibrarianReturnBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianReturnBook</servlet-name>
    <url-pattern>/librarian/LibrarianReturnBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ReaderBorrowHistory</display-name>
    <servlet-name>ReaderBorrowHistory</servlet-name>
    <servlet-class>controller.reader.ReaderBorrowHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderBorrowHistory</servlet-name>
    <url-pattern>/ReaderBorrowHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ReaderReturnHistory</display-name>
    <servlet-name>ReaderReturnHistory</servlet-name>
    <servlet-class>controller.reader.ReaderReturnHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderReturnHistory</servlet-name>
    <url-pattern>/ReaderReturnHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ReaderBorrowCart</display-name>
    <servlet-name>ReaderBorrowCart</servlet-name>
    <servlet-class>controller.reader.ReaderBorrowCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderBorrowCart</servlet-name>
    <url-pattern>/ReaderBorrowCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ReaderSubmitBorrowCart</display-name>
    <servlet-name>ReaderSubmitBorrowCart</servlet-name>
    <servlet-class>controller.reader.ReaderSubmitBorrowCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderSubmitBorrowCart</servlet-name>
    <url-pattern>/ReaderSubmitBorrowCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBookInLib</display-name>
    <servlet-name>ShowBookInLib</servlet-name>
    <servlet-class>controller.reader.ShowBookInLib</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBookInLib</servlet-name>
    <url-pattern>/ShowBookInLib</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookToCart</display-name>
    <servlet-name>AddBookToCart</servlet-name>
    <servlet-class>controller.reader.AddBookToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookToCart</servlet-name>
    <url-pattern>/AddBookToCart</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>URLFilter</filter-name>
    <filter-class>filter.URLFilter</filter-class>
    <init-param>
      <param-name>includeStrings</param-name>
      <param-value>.jsp;.png;.css;.do</param-value>
    </init-param>
    <init-param>
      <param-name>redirectPath</param-name>
      <param-value>/homepage.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>disableFilter</param-name>
      <param-value>N</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>URLFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianEditBook</display-name>
    <servlet-name>LibrarianEditBook</servlet-name>
    <servlet-class>controller.librarian.LibrarianEditBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianEditBook</servlet-name>
    <url-pattern>/librarian/LibrarianEditBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReaderViewReturnRecord</display-name>
    <servlet-name>ReaderViewReturnRecord</servlet-name>
    <servlet-class>controller.reader.ReaderViewReturnRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderViewReturnRecord</servlet-name>
    <url-pattern>/ReaderViewReturnRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DestorySession</display-name>
    <servlet-name>DestorySession</servlet-name>
    <servlet-class>action.DestorySession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DestorySession</servlet-name>
    <url-pattern>/DestorySession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowNewReader</display-name>
    <servlet-name>ShowNewReader</servlet-name>
    <servlet-class>controller.librarian.ShowNewReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowNewReader</servlet-name>
    <url-pattern>/librarian/ShowNewReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Initialization</display-name>
    <servlet-name>Initialization</servlet-name>
    <servlet-class>action.Initialization</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Initialization</servlet-name>
    <url-pattern>/Initialization</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutoFilling</display-name>
    <servlet-name>AutoFilling</servlet-name>
    <servlet-class>action.AutoFilling</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoFilling</servlet-name>
    <url-pattern>/AutoFilling</url-pattern>
  </servlet-mapping>
</web-app>